:root {
    --md-primary-fg-color:        #CD9B68;
    --md-primary-fg-color--light: #CD9B68;
    --md-primary-fg-color--dark:  #CD9B68;

    --md-accent-fg-color:               #A96F50;
    --md-accent-fg-color--transparent:  #A96F50;
    
    --md-default-fg-color:             #CCCCCC;
    --md-default-fg-color--light:      #DDDDDD;
    --md-default-fg-color--lighter:    #EEEEEE;
    --md-default-fg-color--lightest:   #FFFFFF;
    --md-default-bg-color:             #0D0D0D;
    --md-default-bg-color--light:      #262626;
    --md-default-bg-color--lighter:    #404040;
    --md-default-bg-color--lightest:   #595959;
}

[data-md-color-scheme="slate"] {
    --md-hue: 210;
    --md-default-fg-color:             #CCCCCC;
    --md-default-fg-color--light:      #DDDDDD;
    --md-default-fg-color--lighter:    #EEEEEE;
    --md-default-fg-color--lightest:   #FFFFFF;
    --md-default-bg-color:             #0D0D0D;
    --md-default-bg-color--light:      #262626;
    --md-default-bg-color--lighter:    #404040;
    --md-default-bg-color--lightest:   #595959;
}

.md-social__title {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.md-social__link {
    margin-left: 16px;
    margin-right: 16px;
    width: auto;
    vertical-align: middle;
    white-space: nowrap;
    word-break:keep-all !important;
}

.md-social__link svg {
    margin: auto;
    vertical-align: middle;
}

.md-nav__link {
    transition: margin-left 250ms;
}

.md-nav__link[for]:focus, .md-nav__link[for]:hover, .md-nav__link[href]:focus, .md-nav__link[href]:hover {
    margin-left: 8px;
}

.md-grid {
    max-width: 1560px; 
}

hr {
    border-color: #595959 !important;
}

.md-sidebar__scrollwrap {
    scrollbar-color: #595959 #0000;
}

.md-header {
    background-color: #262626;
}

.md-tabs {
    background-color: #262626;
}

.md-tabs__item--active {
    color:  #CD9B68;
}

.md-tag {
    background: var(--md-default-bg-color--light) !important;
    color: var(--md-primary-fg-color--dark);
}

.round-edge {
    border-radius: 20%;
}

.hero-portrait {
    border-color: var(--md-primary-fg-color);
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    transition: ease 200ms
}

.hero-portrait:hover {
    transform: scale(105%, 105%) translateY(-25px);
}

.large-padding {
    padding: 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.very-important-info {
    font-size: x-large;
    font-weight: bolder;
    color: red;
}

.important-info {
    color: aqua;
}

.img-line {
    max-height: 25px;
    height: 25px;
    width: auto;
    vertical-align: middle;
    margin: 3px;
}

.img-line-bigger {
    max-height: 50px;
    height: 50px;
    width: auto;
    vertical-align: middle;
    margin: 5px;
}

.continuous-img {
    display: block;
}

.video-wrapper {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.video-wrapper > iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.layered {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
.layered > * {
grid-column-start: 1;
grid-row-start: 1;
}

.fixed-aimbot-target {
    display: block;
    text-align: center;
}

.moving-aimbot-target {
    display: block;
    text-align: center;

    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-name: track-aimbot-animation;
}

.track-aimbot-aim {
    display: block;
    text-align: center;

    animation-delay: 250ms;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-name: track-aimbot-animation;
}

@keyframes track-aimbot-animation {
    from {
        margin-left: -20%;
    }

    to {
        margin-left: 20%;
    }
}

.flick-aimbot-aim {
    display: block;
    text-align: center;

    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-direction: normal;
    animation-name: flick-aimbot-animation;
}

@keyframes flick-aimbot-animation {
    0% { margin-left: -40%; }
    70% { margin-left: 0%; }
    100% { margin-left: -40%; }
}

.flick-aimbot-aim {
    display: block;
    text-align: center;

    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-direction: normal;
    animation-name: flick-aimbot-animation;
}

@keyframes flick-aimbot-animation {
    0% { margin-left: -40%; }
    35% { margin-left: 0%; }
    40% { margin-left: 0%; }
    50% { margin-left: 40%; }
    85% { margin-left: 0%; }
    90% { margin-left: 0%; }
    100% { margin-left: -40%; }
}


.cast-aimbot-aim {
    display: block;
    text-align: center;

    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    animation-direction: normal;
    animation-name: cast-aimbot-animation;
}

@keyframes cast-aimbot-animation {
    0% { margin-left: -40%; }
    33% { margin-left: -15%; }
    35% { margin-left: 0%; }
    40% { margin-left: 0%; }
    50% { margin-left: 40%; }
    83% { margin-left: 15%; }
    85% { margin-left: 0%; }
    90% { margin-left: 0%; }
    100% { margin-left: -40%; }
}

